
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul .li {
    margin-left: 20px;
}